*.o
*.swp
*.pyc
.DS_Store

android/bin
android/libs
android/obj
android/gen
android/local.properties
android/jni/config.cpp
ios/Canvas.xcodeproj/xcuserdata
ios/Canvas.xcodeproj/project.xcworkspace/xcuserdata
